html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #434343;
  background-image:linear-gradient(#434343, #282828);
}
#content{
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}
/*body{
background-color: black;
}*/
 h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

.link{
    padding: 5px;
    opacity: 90%;
}

.link:hover{
    transform: scale(1.5);
    color: 255,255,255,70;
    transition: 0.3s ease-out;
    opacity: 100%;
}

#name{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#profession{
    text-align: center;
}

.imgCenter{
    text-align: center;
}

.socialImg{
    text-align: center;
    display: inherit;
    padding-right: 10px;
}

.mapache{
    display: inline;
}

.credit{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-decoration: none;
    opacity: 80%;    
}

.credit:hover{
    transition: 0.3 ease-out;
    color: orange;
    opacity: 100%;
    text-decoration: none;
}

.expl{
    color: white;
    text-decoration: none;
    opacity: 80%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.expl:hover{
    transform: scale(1.5);
    transition: 0.3 ease-out;
    color: orange;
    opacity: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.Button{
    text-align: center;
    transform: scale(2);
}

.Button:hover{
    text-align: center;
    transform: scale(2.5);
}

p{
   font-family: 'PT Sans', sans-serif;
   color: white;
}

h2{
    color: white;
    text-align: center;
}

nav{
    text-align: center;
}

.menu{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 20px;
}

.menu:hover{
    color: orange;
}

footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 120px;
}

.textsobremi{
    font-family: 'Montserrat', 'sans-serif';
    text-align: justify;
    padding-left: 250px;
    padding-right: 250px;
}

#main{
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}